/* Estilo general del cuerpo */
body {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-top: 0;
    width: 100%;
    overflow-x: hidden;
    /* Cambiado de 'x' a 'hidden' */
    background-image: url("imagenes/background.jpg");
    background-size: cover;
    background-size: 100%;
}

/* Estilo para enlaces */
a {
    margin-top: 25px;
}

/* Estilo para encabezado h1 */
h1 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 55px;
    color: white;
    text-align: left;
    font-weight: bolder;
}

/* Estilo para encabezado h2 */
h2 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 25px;
    color: black;
    text-align: left;
    font-weight: bold;
}

/* Clase para margen superior flexible */
.margin-top-flex {
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
    margin-bottom: 10px;
}

/* Clase para texto con margen superior entre palabras */
.texto-margin-beetwen-words-top {
    margin-left: 100px;
    position: relative;
    top: 15px;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

/* Clase para texto de tamaño 20 */
.texto-tam-20 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
}

/* Clase para texto de tamaño 12 */
.texto-tam-12 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 12px;
    color: black;
    text-align: center;
}

/* Clase para texto de tamaño 35 */
.texto-tam-35 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 35px;
    color: black;
    text-align: justify;
}

/* Clase para texto de tamaño 30 */
.texto-tam-30 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 30px;
    color: black;
    text-align: justify;
}

/* Clase para texto en barra de navegación */
.texto-barra-nav {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-weight: bolder;
    position: relative;
    justify-content: space-between;
    flex-grow: 2;
}

/* Estilo para el menú hamburguesa */
.menu-hamburguesa {
    background-color: rgb(204, 202, 202);
    color: black;
    border: none;
    font-size: 30px;
    display: none;
}

/* Clase para texto en el cabezal */
.texto-cabezal {
    color: beige;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
}

/* Clase para texto de estilo saludable */
.texto-healthy {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 25px;
    color: black;
    text-align: left;
    font-weight: bolder;
}

/* Clase para texto saludable en blanco */
.texto-healthy-white {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 25px;
    color: white;
    text-align: left;
    font-weight: bolder;
    position: relative;
    top: 30px;
}

/* Clase para el cuadro de ver receta */
.square-see-recipe {
    border: solid 3px;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    border-radius: 50px;
    width: 85px;
    height: 20px;
    padding: 20px 20px;
    color: grey;
    text-align: center;
    font-size: 17px;
    font-weight: bolder;
}

/* Clase para el contenedor de las últimas recetas */
.inside-flex-latest-recipes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 800px;
    margin: 10px;
    padding: 20px;
    box-sizing: content-box;
    border-radius: 10px;
    background-color: #e6d2d2;
    flex-wrap: wrap;
}

/* Clase para el texto de no perderse una receta */
.text-flex-miss-a-recipe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-left: 50px;
    margin-right: 60px;
    justify-content: left;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
}

/* Clase para el campo de introducir correo */
.introduce-mail {
    display: flex;
    align-items: center;
    position: relative;
    top: 75px;
    background-color: rgb(223, 218, 218);
    border: 2px solid #ccc;
    border-radius: 50px;
    padding: 10px;
    height: 85px;
}

/* Estilo para el campo de entrada de correo */
.introduce-mail input[type="email"] {
    border: 0px;
    background-color: rgb(223, 218, 218);
    padding: 5px;
    font-size: 25px;
    border-radius: 50px;
    font-size: 20px;
    width: 250px;
    height: 95px;
    color: black;
}

/* Estilo para el botón de enviar */
.introduce-mail button {
    background-color: rgb(206, 206, 206);
    color: black;
    position: relative;
    left: 10px;
    height: 110px;
    width: 150px;
    color: rgb(90, 89, 89);
    padding: 22px 25px;
    border-radius: 50px;
    font-size: 20px;
}

/* Clase para el formato de artículos */
.articles-flex-format {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 auto;
}

/* Clase para la flexibilidad de recetas */
.recipes-flex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/* Clase para el fondo de las recetas más populares */
.background-flex-most-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    max-width: 30%;
    margin: 10px;
    padding: 20px;
    border-radius: 50px;
    flex-wrap: wrap;
}

/* Clase para el contenido de las recetas más populares */
.content-flex-most-popular {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    width: 972px;
    max-width: 100%;
    margin: 10px;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 10px;
    flex-wrap: wrap;
    position: relative;
    left: 10px;
    bottom: 200px;
}

/* Clase para la flexibilidad del autor */
.flex-author {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgb(129, 127, 126);
    max-width: 100%;
    width: 100%;
    border: 10px black;
}

/* Clase para la información del autor */
.author-information {
    display: flex;
    flex-direction: column;
    margin: 100px;
    padding: 10px;
}

/* Clase para el pie de página */
.pie-de-pagina {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background-color: rgb(173, 172, 172);
    width: 100%;
    border: 10px black;
    justify-content: center;
}

/* Clase para el texto del pie de página */
.texto-pie-flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    position: relative;
    top: 15px;
    height: auto;
    max-height: 100px;
}

/* Clase para el margen inferior entre palabras */
.texto-margin-beetwen-words-bottom {
    margin-left: 100px;
    position: relative;
    top: 35px;
    right: 550px;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 20px;
    color: black;
    text-align: center;
    font-weight: bolder;
}

/* Clase para la sección de redes sociales */
.social-media {
    display: flex;
    flex-direction: row;
    background-color: rgb(173, 172, 172);
    width: 10%;
    border: 10px black;
    justify-content: left;
}

/* Clase para el logo en el pie de página */
.logo-pie-pagina {
    position: relative;
    top: 60px;
    right: 550px;
}

/* Clase para el tamaño de las imágenes de recetas */
.tam-images-recipes {
    width: inherit;
    border: solid 0px;
    border-radius: 20px;
    margin-top: 20px;
}

/* Clase para el texto de recetas populares */
.texto-popular-recipes {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 35px;
    color: white;
    text-align: left;
    font-weight: bold;
}

/* Clase para encabezado h1 en negro */
.black-h1 {
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 55px;
    color: black;
    text-align: left;
    font-weight: bolder;
}

/* Clase para el tamaño de los iconos */
.tam-iconos {
    display: flex;
    max-width: 75px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
    margin-left: 50px;
}

/* Clase para el texto en la barra */
.texto-barra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    font-size: 15px;
    color: black;
    text-align: center;
    margin-left: 100px;
    list-style: none;
    text-decoration: none;
    position: relative;
    bottom: 15px;
}

/* Clase para la barra superior */
.barra-arriba {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    justify-content: space-between;
    padding: 25px;
    border-width: 15px;
    border-color: black;
    background-color: rgb(204, 202, 202);
}

/* Clase para el avatar */
.avatar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
    margin-right: 20px;
    text-align: center;
}

/* Clase para las categorías */
.categorias {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    justify-content: left;
    padding: 20px;
    border-width: solid 15px;
    border-color: black;
    text-align: center;
    background: linear-gradient(grey 50%, black);
}

/* Clase para las filas de categorías */
.categorias-row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    justify-content: left;
    text-align: center;
    margin-bottom: 25px;
}

/* ID para centrar el cuadro de ver receta */
#square-see-recipe-center {
    border: solid 2px;
    font-family: system-ui, -apple-system, Roboto, sans-serif;
    border-radius: 50px;
    width: 100px;
    height: 20px;
    padding: 20px 20px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
}

/* ID para centrar el texto del cabezal */
#cabezal-text-center {
    margin-top: 200px;
    margin-left: 550px;
}

/* ID para la imagen del cabezal */
#cabezal-image {
    display: flex;
    flex-wrap: wrap;
    position: static;
    flex-direction: column;
    flex-shrink: 5;
    justify-content: left;
    height: 750px;
    background-image: url("imagenes/comida.jpg");
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* ID para el título de la última receta */
#title-latest-recipe {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-grow: 3;
    margin-left: 200px;
    text-align: left;
}

/* ID para la flexibilidad de no perderse una receta */
#flex-miss-recipe {
    display: flex;
    flex-direction: row;
    background-color: rgb(204, 194, 188);
    justify-content: space-between;
    border: solid 1px;
    border-radius: 50px;
    border-color: rgb(151, 150, 149);
    width: 90%;
    max-width: 1625px;
    margin: 105px auto;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    left: 15px;
}

/* Media queries para pantallas pequeñas */
@media (min-width: 1px) and (max-width: 1267px) {
    .menu-hamburguesa {
        display: block;
    }

    .texto-barra {
        display: none;
    }

    .texto-barra li {
        display: flex;
        flex-direction: column;
        align-items: end;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        background-color: black;
        padding: 20px 0;
    }

    .avatar {
        display: none;
    }

    #cabezal-text-center {
        margin-left: 50px;
    }

    .categorias {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
    }

    #flex-miss-recipe {
        flex-direction: column;
        height: 500px;
    }

    .text-flex-miss-a-recipe p {
        font-size: 20px;
        margin-bottom: 0px;
    }

    .introduce-mail {
        margin-bottom: 150px;
        width: 300px;
    }

    .introduce-mail input[type="email"] {
        width: 200px;
        height: 85px;
        position: relative;
        right: 10px;
        border-style: none;
        border: none;
        padding: 10px;
    }

    .introduce-mail button {
        margin-right: 50px;
    }

    .recipes-flex {
        flex-direction: column;
    }

    .background-flex-most-popular {
        max-width: 75%;
    }

    .flex-author {
        flex-direction: column;
    }

    .pie-de-pagina {
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .texto-pie-flex {
        flex-direction: column;
        justify-content: center;
        position: relative;
        width: auto;
        max-width: 250px;
        /* Establece un límite de ancho si es necesario */
    }

    .logo-pie-pagina {
        left: 125px;
        margin-bottom: 50px;
    }

    .texto-pie-pagina {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 100px;
    }

    .texto-margin-beetwen-words-bottom {
        margin-bottom: 80px;
        position: relative;
        right: 0px;
    }

    .social-media {
        position: relative;
        left: 235px;
        bottom: 25px;
        justify-content: center;
        /* Centrará el contenido dentro del div */
        align-items: center;
        padding: 0;
        /* Quitar el padding */
        width: 5px;
        /* Ancho ajustado para reducir el tamaño */
        height: 20px;
        /* Alto ajustado para reducir el tamaño */
    }

    .inside-flex-latest-recipes {
        width: 80%;
    }

    .tam-iconos {
        position: relative;
        width: 40px;
        justify-content: center;
        /* Centrará el contenido dentro del div */
        align-items: center;
    }

    .texto-popular-recipes {
        font-size: 20px;
    }

    .texto-healthy-white {
        font-size: 15px;
    }

    .content-flex-most-popular {
        bottom: 140px;
    }
}